<div th:fragment="userMain" class="flex h-full flex-col">
  <div th:replace="~{page/user/user-header :: userHeader(${pageType})}"></div>
  <div class="hidden sm:block flex-1 overflow-auto">
    <div th:replace="~{page/user/user-table :: pageTable(${pageType})}"></div>
  </div>

  <div class="block sm:hidden flex-1 overflow-y-auto px-3">
    <div th:replace="~{page/user/user-card-list :: pageCardList(${pageType})}"></div>
  </div>
  <div th:replace="~{components/pagination :: pageNation}"></div>
</div>
s