<div
  th:fragment="userHeader(pageType)"
  id="page-header"
  class="flex items-center gap-2 sm:px-5 px-3 py-3"
>
  <div class="mr-2 hidden min-w-[60px] gap-1 text-sm font-medium sm:flex whitespace-nowrap">
    <div th:switch="${pageType.name()}">
      <span
        th:case="'LIST'"
        th:text="${params.status != null ? params.status.label : '전체'}"
      ></span>
      <span th:case="'APPROVAL'">승인 대기</span>
      <span th:case="'DELETED'">삭제 대기</span>
      <span th:case="'DEPT'">부서원 목록</span>
    </div>
    <span th:text="|(${list.totalCount ?: 0})|"></span>
  </div>
  <div class="btn-list flex flex-1 items-start sm:items-center gap-1.5 flex-col sm:flex-row">
    <div class="search-container flex w-full sm:w-auto">
      <form class="relative w-full" id="search-form">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="absolute left-3 top-1/2 h-3 w-3 -translate-y-1/2 text-gray-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
        <input
          type="text"
          name="keyword"
          placeholder="이메일, 이름"
          th:value="${params.keyword}"
          class="search-input h-9 w-full sm:w-64 rounded-xl border border-gray-300 py-3 pl-10 text-xs font-medium focus:outline-none focus:ring-1 focus:ring-gray-300"
          autocomplete="off"
        />
        <button
          th:classappend="${!#strings.isEmpty(params.keyword)} ? '': 'hidden'"
          class="clear-btn z-5 absolute right-2 top-1/2 -translate-y-1/2"
          data-action="clearInput"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-3"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </form>
    </div>
    <div class="flex w-full items-center gap-2 sm:w-auto">
      <th:block th:if="${pageType.name() == 'LIST'}">
        <button class="btn btn-primary flex-1 sm:flex-none md:w-28 p-4 sm:px-4 justify-center" data-action="add">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
          <span>추가</span>
        </button>
        <button class="btn btn-danger flex-1 sm:flex-none md:w-28 p-4 sm:px-4 justify-center" data-action="status"
                data-mode="DELETED">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
          <span>삭제</span>
        </button>
        <div class="relative flex-1 sm:flex-none justify-center">
          <button
            class="btn btn-status w-full ignore-close md:w-28 gap-0 border border-gray-300 sm:px-4 justify-center"
            data-action="btnDropDown"
          >
            <span>상태 변경</span>
            <svg
              class="ml-2 h-3 w-3 opacity-50"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </button>
          <div
            class="btn-dropDown absolute top-full z-50 mt-1 hidden w-full flex-col rounded border border-gray-300 shadow-md"
          >
            <button
              class="btn btn-status w-full justify-center text-emerald-600 transition-colors duration-300 hover:bg-emerald-50 dark:text-emerald-400 dark:hover:bg-emerald-900"
              data-action="status"
              data-mode="ACTIVE"
            >
              정상
            </button>
            <button
              class="btn btn-status w-full justify-center text-red-600 transition-colors duration-300 hover:bg-red-50 dark:text-red-400 dark:hover:bg-red-900"
              data-action="status"
              data-mode="BLOCKED"
            >
              중지
            </button>
            <button
              class="btn btn-status w-full justify-center transition-colors duration-300 hover:bg-gray-50 dark:hover:bg-zinc-700"
              data-action="status"
              data-mode="UNLOCKED"
            >
              잠금 해제
            </button>
          </div>
        </div>
      </th:block>
      <th:block th:if="${pageType.name() == 'APPROVAL'}">
        <button class="btn btn-primary flex-1 sm:flex-none p-4 md:w-28 sm:px-4 justify-center" data-action="status"
                data-mode="APPROVE">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
          승인
        </button>
        <button class="btn btn-danger flex-1 sm:flex-none p-4 md:w-28 sm:px-4 justify-center" data-action="status"
                data-mode="REJECT">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
          반려
        </button>
      </th:block>
      <th:block th:if="${pageType.name() == 'DELETED'}">
        <button class="btn btn-primary flex-1 sm:flex-none p-4 md:w-28 sm:px-4 justify-center" data-action="status"
                data-mode="ACTIVE">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"
            ></path>
          </svg>
          복구
        </button>
        <button class="btn btn-danger flex-1 sm:flex-none p-4 md:w-28 sm:px-4 justify-center" data-action="status"
                data-mode="REMOVE">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
          삭제
        </button>
      </th:block>
    </div>
  </div>
  <div class="flex-col justify-end shrink-0">
    <div th:replace="~{components/view-controller::viewController}"></div>
  </div>
</div>
