<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common-head :: commonHead}"></th:block>
  <title>관리자 | 사용자 관리</title>
</head>
<body class="min-h-screen">
<div class="flex min-h-screen">
  <nav th:replace="~{fragments/nav :: nav}"></nav>
  <div class="flex flex-1 flex-col min-w-0">
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="vt-main flex flex-1 flex-col">
      <div id="list-wrapper" class="flex flex-1 flex-col">
        <div th:replace="~{page/user/user-main::userMain}"></div>
      </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>
</div>
<div id="modal-root" class="relative z-[9999]"></div>
<div th:replace="~{components/common-ui :: toast}"></div>
<script type="module" th:src="@{/js/menu/menu.js}"></script>
<script type="module" th:src="@{/js/page/user/user-deleted.js}"></script>
<script type="module" th:src="@{/js/common/index.js}"></script>
</body>
</html>
