<div
  th:fragment="modalTable"
  class="flex h-full w-full flex-1 flex-col overflow-hidden text-xs"
>
  <div class="min-h-0 flex-1 overflow-y-auto">
    <table class="table-modal table">
      <thead>
        <tr>
          <th class="w-12 !text-center">
            <input
              type="checkbox"
              data-action="checkToggle"
              class="check-all size-3 cursor-pointer"
            />
          </th>
          <th colspan="flex-1 min-w-0">이름</th>
          <th class="w-[25%]">사번</th>
          <th class="w-[25%]">부서</th>
        </tr>
      </thead>

      <tbody class="divide-y dark:divide-zinc-800">
        <tr th:if="${#lists.isEmpty(list.content)}">
          <td
            colspan="4"
            class="py-20 text-center text-gray-400 dark:text-zinc-500"
          >
            부서에 소속된 사용자가 없습니다
          </td>
        </tr>

        <tr
          th:unless="${#lists.isEmpty(list.content)}"
          th:each="item : ${list.content}"
          th:data-id="${item.id}"
          data-action="clickRow"
        >
          <td class="text-center align-middle">
            <input
              type="checkbox"
              class="check-box size-3 cursor-pointer"
              th:value="${item.id}"
            />
          </td>
          <td class="truncate" th:text="${item.name}"></td>
          <td th:text="${item.userCode}"></td>
          <td th:data-dept-id="${item.deptId}" th:text="${item.deptName}"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="border-t pt-2 dark:border-zinc-800">
    <div th:replace="~{components/pagination :: pageNation}"></div>
  </div>
</div>
