<div
  th:fragment="content"
  id="modal-form"
  class="modal-form z-10 w-[70vw] overflow-y-auto"
>
  <div class="flex items-center justify-between border-b pb-3">
    <span class="text-lg font-semibold">구성원 변경</span>
    <button data-action="closeModal">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <div class="flex h-[600px] w-full items-stretch gap-2">
    <div class="flex min-w-0 flex-1 flex-col gap-2">
      <div class="flex w-full gap-2">
        <input type="hidden" name="selectDeptId" id="select-dept-id" />
        <button
          type="button"
          class="form-input ignore-close basis-1/4 text-left hover:bg-gray-50 focus:border-gray-400 focus:ring-0 dark:hover:bg-zinc-800/30"
          id="select-dept-btn"
          data-action="toggleSelect"
        >
          전체
        </button>
        <ul class="data-template">
          <li
            class="select-li"
            th:each="item : ${tree}"
            th:data-value="${item.id}"
            th:text="${item.deptName}"
            data-action="selectModalDept"
          ></li>
        </ul>
        <div class="search-container flex flex-1">
          <form class="relative w-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="absolute left-3 top-1/2 h-3 w-3 -translate-y-1/2 text-gray-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
            <input
              type="text"
              name="keyword"
              placeholder="사번 또는 이름을 입력해주세요..."
              class="search-input h-9 w-full rounded-md border border-gray-300 py-3 pl-10 pr-4 text-xs font-medium focus:outline-none focus:ring-1 focus:ring-gray-300"
              autocomplete="off"
            />
            <button
              type="button"
              class="clear-btn z-5 absolute right-2 top-1/2 hidden -translate-y-1/2"
              data-action="clearInput"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </form>
        </div>
      </div>
      <div id="modal-list-wrapper" class="w-full flex-1">
        <div th:replace="~{page/dept/dept-modal-table::modalTable}"></div>
      </div>
    </div>

    <div class="flex w-10 shrink-0 flex-col items-center justify-center gap-4">
      <button
        class="rounded-md border border-gray-200 p-1 hover:bg-gray-100 dark:border-gray-700 dark:bg-[#1e1e1e] dark:text-slate-300 dark:hover:bg-[#2a2a2a]"
        data-action="moveUser"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
      <button
        class="rounded-md border border-gray-200 p-1 hover:bg-gray-100 dark:border-gray-700 dark:bg-[#1e1e1e] dark:text-slate-300 dark:hover:bg-[#2a2a2a]"
        data-action="removeUser"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
      </button>
    </div>

    <div
      class="flex w-64 shrink-0 flex-col overflow-hidden rounded-lg border dark:border-zinc-700"
    >
      <div class="w-full border-b px-3 py-2 dark:border-zinc-700">
        <input type="hidden" name="targetDeptId" id="targetDeptId" />
        <button
          type="button"
          class="form-input ignore-close basis-1/4 text-left hover:bg-gray-50 focus:border-gray-400 focus:ring-0 dark:hover:bg-zinc-800/30"
          id="targetDept-btn"
          data-action="toggleSelect"
          th:data-is-placeholder="true"
        >
          부서를 선택해주세요
        </button>
        <ul class="data-template">
          <li
            class="select-li"
            th:each="item : ${tree}"
            th:if="${item.deptCode != 'ROOT'}"
            th:data-value="${item.id}"
            th:text="${item.deptName}"
          ></li>
        </ul>
      </div>
      <div
        class="w-full flex-1 overflow-y-auto bg-gray-50 p-1 dark:border-gray-700 dark:bg-[#1e1e1e] dark:text-slate-300 dark:hover:bg-[#2a2a2a]"
      >
        <p
          id="empty-msg"
          class="mt-10 text-center text-[11px] text-gray-400"
          th:classappend="${!#lists.isEmpty(selectedUsers)} ? 'hidden' : ''"
        >
          사용자를 이동 시켜주세요
        </p>
        <ul
          id="selected-user-list"
          th:classappend="${#lists.isEmpty(selectedUsers)} ? 'hidden' : 'flex flex-col gap-1'"
        >
          <li
            th:each="user : ${selectedUsers}"
            class="flex items-center justify-between border-b bg-white p-2 text-xs hover:cursor-pointer hover:bg-gray-50 dark:border-zinc-700 dark:bg-[#1e1e1e] dark:text-slate-300 dark:hover:bg-zinc-800/30"
            th:data-user-id="${user.id}"
            th:data-dept-id="${user.deptId}"
            data-action="clickRow"
          >
            <div class="flex items-center gap-3">
              <input
                type="checkbox"
                class="check-box size-3"
                th:value="${user.id}"
              />
              <span th:text="|${user.name} (${user.userCode})|"></span>
            </div>
            <button type="button" data-action="removeOne">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="size-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-4 flex w-full justify-end gap-2 px-6">
    <button
      type="button"
      class="btn btn-primary"
      data-mode="EDIT"
      data-action="userChangeDept"
    >
      변경
    </button>
    <button
      type="button"
      class="btn bg-gray-100 px-4 dark:bg-zinc-300 dark:hover:bg-zinc-400"
      data-action="closeModal"
    >
      닫기
    </button>
  </div>
  <ul id="common-select-ul" class="select-ul hidden"></ul>
</div>
