spring:
  sql:
    init:
      mode: always
      data-locations:
        - file:./sql/01_dept-data.sql
        - file:./sql/02_role-data.sql
        - file:./sql/03_user-data.sql
        - file:./sql/04_resource-data.sql
        - file:./sql/05_notice-data.sql

  datasource:
    url: jdbc:h2:mem:admin;MODE=MySQL;DATABASE_TO_LOWER=TRUE;NON_KEYWORDS=USER
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: false

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 80