<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/common-head :: commonHead}"></th:block>
    <title>관리자 | 시스템 통계</title>
  </head>
  <body class="min-h-screen">
    <div class="flex min-h-screen">
      <nav th:replace="~{fragments/nav :: nav}"></nav>
      <div class="flex flex-1 flex-col">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="vt-main flex flex-1 flex-col">
          <div id="list-wrapper" class="flex flex-1 flex-col">
            <div th:replace="~{components/prepare :: main}"></div>
          </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
      </div>
    </div>

    <script type="module" th:src="@{/js/menu/menu.js}"></script>
  </body>
</html>
