<div th:fragment="pageTable" id="page-table" class="w-full px-5 flex-1">
    <table class="table min-w-[900px]">
        <thead class="border border-b-2">
        <tr>
            <th class="w-[20%]">
                <div class="flex items-center justify-between gap-2">
                    <span>일시</span>
                    <button
                            type="button"
                            class="sort-btn p-1 rounded hover:bg-gray-100"
                            data-action="sort"
                            data-sort="updatedAt"
                            th:data-order="${list.direction}"
                            aria-label="정렬">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5" stroke="currentColor"
                             class="h-4 w-4 inline-block transform transition-transform duration-200"
                             th:classappend="${list.sortBy == 'createdAt' and list.direction == 'ASC'} ? 'rotate-180' : ''">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
                        </svg>
                    </button>
                </div>
            </th>
            <th class="flex-1">
                <div class="flex items-center justify-between gap-2">
                    <span>수행자</span>
                </div>
            </th>
            <th class="w-[20%]">
                <div class="flex items-center justify-between gap-2">
                    <span>대상</span>
                </div>
            </th>
            <th class="w-[20%]">
                <div class="flex items-center justify-between gap-2">
                    <span>액션</span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody th:if="${#lists.isEmpty(list.content)}">
        <tr>
            <td colspan="4" class="py-16 text-center text-gray-400">
                해당 기간에 감사로그가 없습니다.
            </td>
        </tr>
        </tbody>

        <tbody th:unless="${#lists.isEmpty(list.content)}">
        <tr th:each="item : ${list.content}"
            th:data-id="${item.id}"
            data-action="clickRow"
            class="hover:bg-gray-50 hover:cursor-pointer">
            <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${item.actorUsername}"></td>
            <td th:text="${item.targetEntity.label}"></td>
            <td th:text="${item.action.label}"></td>
        </tr>
        </tbody>
    </table>
</div>