<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/common-head :: commonHead}"></th:block>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link
      id="flatpickr-dark-theme"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css"
      disabled
    />
    <script>
      document.getElementById('flatpickr-dark-theme').disabled =
        !document.documentElement.classList.contains('dark');
    </script>
    <title>관리자 | 로그</title>
  </head>
  <body class="min-h-screen">
    <div class="flex min-h-screen">
      <nav th:replace="~{fragments/nav :: nav}"></nav>
      <div class="flex flex-1 flex-col">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="vt-main flex flex-1 flex-col">
          <div id="list-wrapper" class="flex flex-1 flex-col">
            <div th:replace="~{page/logs/audit/audit-main::auditMain}"></div>
          </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
      </div>
    </div>
    <div id="modal-root"></div>
    <ul id="common-select-ul" class="select-ul hidden"></ul>
    <div th:replace="~{components/common-ui :: toast}"></div>
    <script type="module" th:src="@{/js/menu/menu.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <script type="module" th:src="@{/js/page/logs/audit-list.js}"></script>
    <script type="module" th:src="@{/js/common/index.js}"></script>
  </body>
</html>
