<div th:fragment="content" class="modal-form w-[650px] max-h-[80vh] z-10 bg-white p-6 rounded-2xl shadow-xl">
    <div class="shrink-0 flex items-center justify-between border-b pb-4">
        <span class="text-xl font-bold text-slate-800" th:text="${auditLog.targetEntity}"></span>
        <button onClick="closeModal()" class="text-gray-400 hover:text-gray-600 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
            </svg>
        </button>
    </div>


    <div class="shrink-0 flex flex-col gap-2 text-sm text-slate-600 border border-slate-200 rounded-md p-2">
        <div class="flex justify-between p-2">
            <span class="font-semibold text-slate-400 ">수행자</span>
            <span th:text="${auditLog.actorUsername}"></span>
        </div>
        <div class="flex justify-between p-2">
            <span class="font-semibold text-slate-400">일시</span>
            <span th:text="${#temporals.format(auditLog.createdAt,'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div class="flex justify-between p-2">
            <span class="font-semibold text-slate-400">액션</span>
            <span th:text="${auditLog.action.label}"></span>
        </div>
    </div>
    <div class="flex-1 min-h-0 flex flex-col overflow-y-auto">
        <span class="shrink-0 text-xs px-4 py-2.5 bg-slate-700 text-white rounded-md"
              th:unless="${#lists.isEmpty(auditLog.details)}"
              th:text="${auditLog.action.label} + ' 이력'"></span>
        <div th:each="detailItem, iterStat : ${auditLog.details}"
             class="shrink-0 rounded-md border border-slate-100">
            <div class="divide-y divide-slate-100">
                <div class="px-4 py-2 bg-slate-50 border-b border-slate-200">
                <span class="text-xs font-semibold text-slate-500"
                      th:text="'#' + ${iterStat.index + 1}"></span>
                </div>
                <div th:if="${auditLog.action.name() == 'UPDATE'}"
                     th:each="entry  : ${detailItem.details}"
                     class="flex flex-col px-4 py-3 gap-2">

                    <div class="flex items-center justify-between">
                        <span class="text-xs text-slate-400 truncate max-w-[60%]"
                              th:text="${detailItem.targetEntityName}"></span>
                        <span class="text-xs font-semibold text-slate-600" th:text="${entry.key}"></span>
                    </div>

                    <div class="flex flex-col gap-1.5">
                        <div class="flex items-start gap-2">
                            <span class="shrink-0 text-xs px-2 py-0.5 bg-red-50 text-red-400 rounded-md">기존</span>
                            <span class="text-xs text-slate-400 break-all truncate"
                                  th:text="${entry.value['old']}"></span>
                        </div>
                        <div class="flex items-start gap-2">
                            <span class="shrink-0 text-xs px-2 py-0.5 bg-emerald-50 text-emerald-500 rounded-md">변경</span>
                            <span class="text-xs text-slate-700 font-medium break-all"
                                  th:text="${entry.value['new']}"></span>
                        </div>
                    </div>
                </div>

                <div th:unless="${auditLog.action.name() == 'UPDATE'}"
                     th:each="entry : ${detailItem.details}"
                     class="flex justify-between items-center px-4 py-2.5">
                    <span class="text-xs text-slate-500 shrink-0 w-24" th:text="${entry.key}"></span>
                    <span class="text-sm text-slate-700 text-right break-all" th:text="${entry.value}"></span>
                </div>

            </div>
        </div>
    </div>

    <div class="shrink-0 flex justify-end gap-2 pt-4 border-t">
        <button type="button" onClick="closeModal()" class="btn bg-gray-100 px-4">
            닫기
        </button>
    </div>
</div>