<div th:fragment="pageCardList" class="flex flex-col gap-2">
  <div th:if="${#lists.isEmpty(list.content)}"
       class="flex justify-center text-gray-400 pt-7"
  >
    등록된 스케줄러가 없습니다.
  </div>
  <div th:unless="${#lists.isEmpty(list.content)}"
       th:each="item : ${list.content}"
       th:data-id="${item.id}"
       class="flex justify-between rounded-lg border border-gray-300 bg-white p-2 shadow-sm cursor-pointer transition-colors
       dark:border-zinc-800 dark:bg-zinc-800/80 dark:text-zinc-400
       [&.is-selected]:bg-blue-300/20 [&.is-selected]:dark:bg-zinc-700/50"
       data-action="clickCard">
    <div class="flex flex-col justify-between gap-2 p-2">
      <div class="flex items-center gap-2">
        <span class="font-bold text-sm" th:text="${item.name}"></span>
      </div>
      <div class="flex items-center gap-1 text-xs">
        <span th:text="${#temporals.format(item.nextRunAt, 'yyyy-MM-dd HH:mm')}"></span>
      </div>
    </div>
    <div class="flex flex-col items-center justify-between gap-2">
      <span class="text-xs p-2" th:text="${item.enabled ? '사용' : '중지'}"></span>
      <button type="button"
              class="flex h-8 w-8 items-center justify-center rounded-full bg-transparent dark:bg-zinc-800 dark:text-gray-300 transition-colors self-end"
              data-action="openMobileDetail"
              th:data-id="${item.id}"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
             class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </div>
</div>