@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        /* 스크롤 바 영역 항상 확보 - 스크롤 바에 의한 화면 확대축소 제거 */
        scrollbar-gutter: stable;
    }

    button,
    a,
    input,
    select,
    textarea,
    li.hover {
        @apply transition-colors duration-200 ease-in-out;
    }

    body {
        padding: 0;
        margin: 0;
        font-size: 13px;
        line-height: 1.3;
        color: #343A40;
        background-color: #F8F8F8;
        @apply font-sans transition-colors duration-300
        dark:bg-slate-950 dark:text-slate-100;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    ul {
        @apply p-0 m-0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    @view-transition {
        navigation: auto;
    }

    ::view-transition-group(root) {
        animation-duration: 0.2s;
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        mix-blend-mode: normal;
    }
}