<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>관리자 | 접근 제어 관리</title>
</head>
<body class="min-h-screen">
<div class="min-h-screen flex">
    <nav th:replace="~{fragments/nav :: nav}"></nav>
    <div class="flex flex-col flex-1">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="vt-main m-12 flex-1">
            <div th:replace="~{page/resource/role/role-header :: roleHeader}"></div>
            <div th:replace="~{page/resource/role/role-tree :: roleTree}"></div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>
<div id="modal-root"></div>
<ul id="common-select-ul" class="select-ul hidden"></ul>
<div th:replace="~{components/common-ui :: toast}"></div>
<script type="module" th:src="@{/js/menu/menu.js}"></script>
<script type="module" th:src="@{/js/page/resource/role-list.js}"></script>
<script type="module" th:src="@{/js/common/index.js}"></script>
</body>

</html>