<div
  th:fragment="content"
  class="modal-form z-10 max-h-[80vh] w-[650px] rounded-2xl bg-white p-6 shadow-xl"
>
  <div class="flex shrink-0 items-center justify-between border-b pb-4">
    <span class="text-xs sm:text-xl font-bold text-slate-800 dark:text-slate-50">
      로그인 정보
    </span>
    <button
      onClick="closeModal()"
      class="text-gray-400 transition-colors hover:text-gray-600 dark:hover:text-zinc-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>

  <div
    class="flex shrink-0 flex-col gap-2 rounded-md border border-slate-200 p-2 text-xs sm:text-sm text-slate-600 dark:border-zinc-800 dark:bg-zinc-900"
  >
    <div class="flex justify-between p-2">
      <span class="font-semibold text-slate-400">이메일</span>
      <span class="dark:text-zinc-300" th:text="${loginHistory.emailId}"></span>
    </div>
    <div class="flex justify-between p-2">
      <span class="font-semibold text-slate-400">일시</span>
      <span
        class="dark:text-zinc-300"
        th:text="${#temporals.format(loginHistory.createdAt,'yyyy-MM-dd HH:mm')}"
      ></span>
    </div>
    <div class="flex justify-between p-2">
      <span class="font-semibold text-slate-400">접속 IP</span>
      <span class="dark:text-zinc-300" th:text="${loginHistory.rawIp}"></span>
    </div>
    <div class="flex justify-between p-2">
      <span class="font-semibold text-slate-400">모델 명</span>
      <span
        class="dark:text-zinc-300"
        th:text="${loginHistory.deviceName}"
      ></span>
    </div>
    <div class="flex flex-col items-start gap-2 p-2">
      <span class="font-semibold text-slate-400">UserAgent</span>
      <span
        class="dark:text-zinc-300"
        th:text="${loginHistory.userAgent}"
      ></span>
    </div>
    <div
      class="flex flex-col items-start gap-2 p-2"
      th:if="${loginHistory.failureReason}"
    >
      <span class="font-semibold text-slate-400">원인</span>
      <span
        class="dark:text-zinc-300"
        th:text="${loginHistory.failureReason}"
      ></span>
    </div>
  </div>
  <div class="flex shrink-0 justify-end gap-2 border-t pt-4">
    <button
      type="button"
      onClick="closeModal()"
      class="btn bg-gray-100 px-4 dark:bg-zinc-300 dark:hover:bg-zinc-400"
    >
      닫기
    </button>
  </div>
</div>
