<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <title>로그인</title>
  </head>
  <body
    class="flex min-h-screen items-center justify-center bg-gradient-to-br from-blue-300 to-indigo-500"
  >
    <div class="flex min-w-96 max-w-md flex-col gap-3 rounded-lg bg-white p-8">
      <div
        class="text-center text-xl font-bold uppercase italic tracking-wider text-slate-800"
      >
        Admin Login
      </div>
      <form
        id="login-form"
        class="flex flex-col gap-2"
        th:action="@{/api/login}"
        method="post"
      >
        <div class="relative mt-8">
          <input
            type="text"
            id="username"
            name="username"
            class="input-group peer h-10 w-full border-b-2 border-gray-200 text-base text-gray-900 placeholder-transparent focus:border-blue-500 focus:outline-none"
            placeholder=" "
            autocomplete="off"
          />
          <label
            for="username"
            class="pointer-events-none absolute -top-3.5 left-0 text-[11px] leading-none text-gray-500 transition-all duration-200 peer-placeholder-shown:top-2 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-none peer-placeholder-shown:text-gray-400 peer-focus:-top-3.5 peer-focus:text-[11px] peer-focus:leading-none peer-focus:text-gray-500"
          >
            이메일을 입력해주세요
          </label>
        </div>
        <div class="relative mt-8">
          <input
            type="password"
            id="password"
            name="password"
            class="input-group peer h-10 w-full border-b-2 border-gray-200 text-base text-gray-900 placeholder-transparent focus:border-blue-500 focus:outline-none"
            placeholder=" "
            autocomplete="off"
          />
          <label
            for="password"
            class="pointer-events-none absolute -top-3.5 left-0 text-[11px] leading-none text-gray-500 transition-all duration-200 peer-placeholder-shown:top-2 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-none peer-placeholder-shown:text-gray-400 peer-focus:-top-3.5 peer-focus:text-[11px] peer-focus:leading-none peer-focus:text-gray-500"
          >
            비밀번호를 입력해주세요
          </label>
        </div>
        <div
          th:if="${param.error}"
          class="mt-2 font-semibold text-red-600"
          id="alert-toast"
        >
          <span
            th:with="errCode=${param.exception[0]}"
            th:text="${T(com.project.admin_system.common.exception.ErrorCode).valueOf(errCode).message}"
          ></span>
          !!
        </div>
        <div class="mt-5 flex items-center justify-end">
          <button
            id="login-btn"
            type="button"
            class="rounded-lg bg-slate-800 px-6 py-2.5 text-sm font-bold text-white transition-all hover:bg-slate-900 active:scale-95"
          >
            로그인
          </button>
        </div>
      </form>
    </div>
  </body>
  <script type="module" th:src="@{/js/login/login.js}"></script>
</html>
